<!-- header section start -->
<header class="header">
  <section class="flex">
    <a href="#home" class="logo">
      <img src="../assets/images/logo.png" alt="logo" />
    </a>
    <nav class="navbar">
      <a href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#menu">Menu</a>
      <a href="#gallery">Gallery</a>
      <a href="#team">Team</a>
      <a href="#contact">Contact</a>
    </nav>

    <div (click)="onNavclick()" id="menu-btn" class="fas fa-bars"></div>
  </section>
</header>
<!-- header section end -->

<!-- home section start -->
<div class="home-bg">
  <section class="home" id="home">
    <div class="content">
      <h3>coffee heaven</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse obcaecati
        eum atque reprehenderit maxime. Nulla!
      </p>
      <a href="#about" class="btn">about us</a>
    </div>
  </section>
</div>
<!-- home section end -->

<!-- about section start -->
<section class="about" id="about">
  <div class="image">
    <img src="../assets/images/about-img.svg" alt="" />
  </div>
  <div class="content">
    <h3>A cup of coffee complete your day</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae
      laborum doloribus veniam consectetur, odio non dolores possimus est nam
      molestias.
    </p>
    <a href="menu" class="btn">Our menu</a>
  </div>
</section>
<!-- about section end -->

<!-- facility section start -->
<section class="facility">
  <div class="heading">
    <img src="../assets/images/heading-img.png" alt="" />
    <h3>our sacility</h3>
  </div>
  <div class="box-container">
    <div class="box">
      <img src="../assets/images/icon-1.png" alt="" />
      <h3>varieties of coffees</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit,
        cupiditate!
      </p>
    </div>

    <div class="box">
      <img src="../assets/images/icon-2.png" alt="" />
      <h3>coffee beans</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit,
        cupiditate!
      </p>
    </div>

    <div class="box">
      <img src="../assets/images/icon-3.png" alt="" />
      <h3>breakfast and sweets</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit,
        cupiditate!
      </p>
    </div>

    <div class="box">
      <img src="../assets/images/icon-4.png" alt="" />
      <h3>read to go coffee</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit,
        cupiditate!
      </p>
    </div>
  </div>
</section>
<!-- facility section end -->

<!-- menu section start -->
<section class="menu" id="menu">
  <div class="heading">
    <img src="../assets/images/heading-img.png" alt="" />
    <h3>popular menu</h3>
  </div>

  <div class="box-container">
    <div class="box">
      <img src="../assets/images/menu-1.png" alt="" />
      <h3>love you coffee</h3>
    </div>

    <div class="box">
      <img src="../assets/images/menu-2.png" alt="" />
      <h3>cappuccino</h3>
    </div>

    <div class="box">
      <img src="../assets/images/menu-3.png" alt="" />
      <h3>mocha</h3>
    </div>

    <div class="box">
      <img src="../assets/images/menu-4.png" alt="" />
      <h3>frappucchino</h3>
    </div>

    <div class="box">
      <img src="../assets/images/menu-5.png" alt="" />
      <h3>black coffee</h3>
    </div>

    <div class="box">
      <img src="../assets/images/menu-6.png" alt="" />
      <h3>loveheart coffee</h3>
    </div>
  </div>
</section>
<!-- menu section end -->

<!-- gallary section start -->

<section class="gallery" id="gellery">
  <div class="heading">
    <img src="../assets/images/heading-img.png" alt="" />
    <h3>our gallery</h3>
  </div>

  <div class="box-container">
    <img src="../assets//images/gallery-1.webp" alt="" />
    <img src="../assets//images/gallery-2.webp" alt="" />
    <img src="../assets//images/gallery-3.webp" alt="" />
    <img src="../assets//images/gallery-4.webp" alt="" />
    <img src="../assets//images/gallery-5.webp" alt="" />
    <img src="../assets//images/gallery-6.webp" alt="" />
  </div>
</section>

<!-- gallary section end -->

<!-- team saction start -->

<section class="team" id="team">
  <div class="heading">
    <img src="../assets/images/heading-img.png" alt="" />
    <h3>our team</h3>
  </div>

  <div class="box-container">
    <div class="box">
      <img src="../assets/images/our-team-1.jpg" alt="" />
      <h3>john doe</h3>
    </div>
    <div class="box">
      <img src="../assets/images/our-team-2.jpg" alt="" />
      <h3>john doe</h3>
    </div>
    <div class="box">
      <img src="../assets/images/our-team-3.jpg" alt="" />
      <h3>john doe</h3>
    </div>
    <div class="box">
      <img src="../assets/images/our-team-4.jpg" alt="" />
      <h3>john doe</h3>
    </div>
    <div class="box">
      <img src="../assets/images/our-team-5.jpg" alt="" />
      <h3>john doe</h3>
    </div>
    <div class="box">
      <img src="../assets/images/our-team-6.jpg" alt="" />
      <h3>john doe</h3>
    </div>
  </div>
</section>

<!-- team saction end -->

<!-- contact section start -->

<section class="contact" id="contact">
  <div class="heading">
    <img src="../assets/images/heading-img.png" alt="" />
    <h3>contact us</h3>
  </div>

  <div class="row">
    <div class="image">
      <img src="../assets/images/contact-img.svg" alt="" />
    </div>

    <form action="" method="post">
      <h3>book a table</h3>
      <input
        type="text"
        name="name"
        required
        maxlength="20"
        class="box"
        placeholder="enter your name"
      />
      <input
        type="number"
        name="number"
        required
        maxlength="20"
        class="box"
        placeholder="enter your number"
        min="0"
        max="9999999999"
        onkeypress="if(this.value.length == 10) return false"
      />
      <input
        type="number"
        name="guests"
        required
        maxlength="20"
        class="box"
        placeholder="how many guests"
        min="0"
        max="99"
        onkeypress="if(this.value.length == 2) return false"
      />
      <input type="submit" name="send" value="send message" class="btn" />
    </form>
  </div>
</section>

<!-- contact section end -->

<!-- footer section start -->

<section class="footer">
  <div class="box-container">
    <div class="box">
      <i class="fas fa-envelope"></i>
      <h3>our email</h3>
      <p>8yashpatel@gmail.com</p>
    </div>

    <div class="box">
      <i class="fas fa-clock"></i>
      <h3>opening hours</h3>
      <p>07:00am to 5:00pm</p>
    </div>

    <div class="box">
      <i class="fas fa-map-marker-alt"></i>
      <h3>Shop Location</h3>
      <p>Harrow, United Kingdom</p>
    </div>

    <div class="box">
      <i class="fas fa-phone"></i>
      <h3>our number</h3>
      <p>+44 9876543210</p>
      <p>+44 1234567980</p>
    </div>
  </div>

  <div class="credit">
    &copy; copyright @ 2022 by <span>yew technologies ltd.</span> | all rights
    reserved!
  </div>
</section>

<!-- footer section end -->
